@import url(../base/reset.css);
@import url(../base/display.css);
@import url(../base/color.css);
@import url(../base/global.css);
@import url(../utils/button.css);
@import url(../utils/forms.css);
@import url(../base/spacing.css);
@import url(../base/typography.css);
@import url(../base/list.css);
@import url(../base/font.css);
/* TESTING THE FONTS */
/* h1{
    font-family: 'minecraft';
} */

.stroked-text {
    -webkit-text-stroke: 1px black; /* Stroke width and color */
    color: white; /* Text fill color (optional) */
 }