:root{

    /* RED COLORS */
    --lightsalmon: #ffa07a;
    --salmon: #fa8072;
    --darksalmon: #e9967a;
    --lightcoral: #f08080;
    --indianred: #cd5c5c;
    --crimson: #dc143c;
    --b-red: #dc3545;
    --firebrik: #b22222;
    --red: #ff0000;
    --darkred: #8b0000;
    

    /* ORANGE COLORS */
    --coral: #ff7f50;
    --tomato: #ff6347;
    --orangered: #ff4500;
    --gold: #ffd700;
    --orange: #ff8c00;

    /* YELLOW COLORS */
    --lightyellow: #ffffe0;
    --lemonchiffon: #fffacd;
    --lightgoldenrodyellow: #fafad2;
    --papayawhip: #ffefd5;
    --moccasn: #ffe4b5;
    --peachpuff: #ffdab9;
    --palegoldenrod: #eee8aa;
    --khaki: #f0e68c;
    --darkkhaki: #bdb76b;
    --yellow: #ffff00;

    /* GREEN COLORS */
    --lawngreen: #7cfc00;
    --chartreuse: #7fff00;
    --limegreen: #32cd32;
    --lime: #00ff00;
    --forestgreen: #228b22;
    --green: #008000;
    --darkgreen: #006400;
    --greenyellow: #9acd32;
    --springgreen: #00ff7f;
    --mediumspringgreen: #00fa9a;
    --lightgreen: #90ee90;
    --palegreen: #98fb98;
    --darkseagreen: #8fbc8f;
    --mediumseagreen: #3cb371;
    --seagreen: #2e8b57;
    --olive: #808000;
    --darkolivegreen: #556b2f;
    --olivedrab: #6b8e23;

    /* CYAN COLORS */
    --lightcyan: #e0ffff;
    --cyan: #00ffff;
    --aqua: #00ffff;
    --aquamarine: #7fffd4;
    --mediumaquamarine: #66cdaa;
    --paleturquoise: #afeeee;
    --turquoise: #40e0d0;
    --mediumturquoise: #48d1cc;
    --darkturquoise: #00ced1;
    --lightseagreen: #20b2aa;
    --cadetblue: #5f9ea0;
    --darkcyan: #008b8b;
    --teal: #008080;

    /* BLUE COLORS */
    --powderblue: #b0e0e6;
    --lightblue: #add8e6;
    --lightskyblue: #87cefa;
    --skyblue: #87ceeb;
    --deepskyblue: #00bfff;
    --lightsteelblue: #b0c4de;
    --dodgerblue: #1e90ff;
    --cornflowerblue: #6495ed;
    --steelblue: #4682b4;
    --royalblue: #4169e1;
    --blue: #0000ff;
    --mediumblue: #0000cd;
    --darkblue: #00008b;
    --navy: #000080;
    --midnightblue: #191970;
    --mediumslateblue: #7b68ee;
    --slateblue: #6a5acd;

    /* PURPLE COLORS */
    --lavender: #e6e6fa;
    --thistle: #d8bfd8;
    --plum: #dda0dd;
    --violet: #ee82ee;
    --orchid: #da70d6;
    --fuchisa: #ff00ff;
    --magenta: #ff00ff;
    --mediumorchid: #ba55d3;
    --blueviolet: #8a2be2;
    --darkviolet: #9400d3;
    --darkorchid: #9932cc;
    --darkmagneta: #800080;
    --purple: #800080;
    --indigo: #4b0082;

    /* PINK COLORS */
    --pink: #ffc0cb;
    --lightpink: #ffb6c1;
    --hotpink: #ff69b4;
    --deeppink: #ff1493;
    --palevioletred: #db7093;
    --mediumvioletred: #c71585;

    /* WHITE COLORS */
    --white: #ffffff;
    --snow: #fffafa;
    --honeydew: #f0fff0;
    --mintcream: #f5fff0;
    --azure: #f0ffff;
    --aliceblue: #f0f8ff;
    --ghostwhite: #f8f8ff;
    --whitewsmoke: #f5f5f5;
    --seashell: #fff5ee;
    --beige: #f5f5dc;
    --oldlace: #fdf5e6;
    --floralwhite: #fffaf0;
    --ivory: #fffff0;
    --antiquewhite: #faebd7;
    --linen: #faf0e6;
    --lavenderblush: #fff0f5;
    --mistyrose: #ffe4e1;

    /* GRAY COLORS */
    --gainsboro: #dcdcdc;
    --lightgray: #d3d3d3;
    --silver: #c0c0c0;
    --darkgray: #a9a9a9;
    --gray: #808080;
    --dimgray: #696969;
    --lightslategray: #778899;
    --slategray: #708090;
    --darkslategray: #2f4f4f;
    --black: #000000;

    /* BROWN COLORS */
    --cornsilk: #fff8dc;
    --blanchedalmond: #ffebcd;
    --bisque: #ffe4c4;
    --navajowhite: #ffdead;
    --wheat: #f5deb3;
    --burlywood: #deb887;
    --tan: #d2b48c;
    --rosybrown: #bc8f8f;
    --sandybrown: #f4a460;
    --goldenrod: #d44520;
    --peru: #cd853f;
    --chocolate: #d2691e;
    --saddlebrown: #8b4513;
    --sienna: #a0522d;
    --brown: #a52a2a;
    --maroon: #800000;


    /* FRAMEWORK MAIN COLORS */
    /* These colors may chnage in the future */
    /* proctor red*/
    --proctor-red-900: rgb(222,20,17);
    --proctor-red-800: rgba(222, 21, 17, 0.800);
    --proctor-red-700: rgba(222, 21, 17, 0.700);
    --proctor-red-600: rgba(222, 21, 17, 0.600);
    --proctor-red-500: rgba(222, 21, 17, 0.500);
    --proctor-red-400: rgba(222, 21, 17, 0.400);
    --proctor-red-300: rgba(222, 21, 17, 0.300);
    --proctor-red-200: rgba(222, 21, 17, 0.200);
    --proctor-red-100: rgba(222, 21, 17, 0.100);
    --proctor-red-50:  rgba(222, 21, 17, 0.050);

    /* proctor black */
    --proctor-black-900: rgb(7, 6, 6);
    --proctor-black-800: rgba(7, 6, 6, 0.800);
    --proctor-black-700: rgba(7, 6, 6, 0.700);
    --proctor-black-600: rgba(7, 6, 6, 0.600);
    --proctor-black-500: rgba(7, 6, 6, 0.500);
    --proctor-black-400: rgba(7, 6, 6, 0.400);
    --proctor-black-300: rgba(7, 6, 6, 0.300);
    --proctor-black-200: rgba(7, 6, 6, 0.200);
    --proctor-black-100: rgba(7, 6, 6, 0.100);
    --proctor-black-050:  rgba(7, 6, 6, 0.050);

    /* proctor yellow */
    --proctor-yellow-900: rgb(238, 238, 30);
    --proctor-yellow-800: rgba(238, 238, 30, 0.800);
    --proctor-yellow-700: rgba(238, 238, 30, 0.700);
    --proctor-yellow-600: rgba(238, 238, 30, 0.600);
    --proctor-yellow-500: rgba(238, 238, 30, 0.500);
    --proctor-yellow-400: rgba(238, 238, 30, 0.400);
    --proctor-yellow-300: rgba(238, 238, 30, 0.300);
    --proctor-yellow-200: rgba(238, 238, 30, 0.200);
    --proctor-yellow-100: rgba(238, 238, 30, 0.100);
    --proctor-yellow-050: rgba(238, 238, 30, 0.050);

    /* proctor blue */
    --proctor-blue-900: rgb(15, 15, 243);
    --proctor-blue-800: rgba(15, 15, 243, 0.800);
    --proctor-blue-700: rgba(15, 15, 243, 0.700);
    --proctor-blue-600: rgba(15, 15, 243, 0.600);
    --proctor-blue-500: rgba(15, 15, 243, 0.500);
    --proctor-blue-400: rgba(15, 15, 243, 0.400);
    --proctor-blue-300: rgba(15, 15, 243, 0.300);
    --proctor-blue-200: rgba(15, 15, 243, 0.200);
    --proctor-blue-100: rgba(15, 15, 243, 0.100);
    --proctor-blue-050: rgba(15, 15, 243, 0.050);

    /* proctor green */
    --proctor-green-900: rgb(8, 195, 8);
    --proctor-green-800: rgba(8, 195, 8, 0.800);
    --proctor-green-700: rgba(8, 195, 8, 0.700);
    --proctor-green-600: rgba(8, 195, 8, 0.600);
    --proctor-green-500: rgba(8, 195, 8, 0.500);
    --proctor-green-400: rgba(8, 195, 8, 0.400);
    --proctor-green-300: rgba(8, 195, 8, 0.300);
    --proctor-green-200: rgba(8, 195, 8, 0.200);
    --proctor-green-100: rgba(8, 195, 8, 0.100);
    --proctor-green-050: rgba(8, 195, 8, 0.050);
    
    /* proctor pink */
    --proctor-pink-900: rgb(245, 151, 166);
    --proctor-pink-800: rgba(245, 151, 166, 0.800);
    --proctor-pink-700: rgba(245, 151, 166, 0.700);
    --proctor-pink-600: rgba(245, 151, 166, 0.600);
    --proctor-pink-500: rgba(245, 151, 166, 0.500);
    --proctor-pink-400: rgba(245, 151, 166, 0.400);
    --proctor-pink-300: rgba(245, 151, 166, 0.300);
    --proctor-pink-200: rgba(245, 151, 166, 0.200);
    --proctor-pink-100: rgba(245, 151, 166, 0.100);
    --proctor-pink-050: rgba(245, 151, 166, 0.050);

    /* proctor orange */
    --proctor-orange-900: rgb(238, 120, 9);
    --proctor-orange-800: rgba(238, 120, 9, 0.800);
    --proctor-orange-700: rgba(238, 120, 9, 0.700);
    --proctor-orange-600: rgba(238, 120, 9, 0.600);
    --proctor-orange-500: rgba(238, 120, 9, 0.500);
    --proctor-orange-400: rgba(238, 120, 9, 0.400);
    --proctor-orange-300: rgba(238, 120, 9, 0.300);
    --proctor-orange-200: rgba(238, 120, 9, 0.200);
    --proctor-orange-100: rgba(238, 120, 9, 0.100);
    --proctor-orange-050: rgba(238, 120, 9, 0.050);

    /* proctor gray */
    --proctor-gray-900: rgb(65, 65, 65);
    --proctor-gray-800: rgba(65, 65, 65, 0.800);
    --proctor-gray-700: rgba(65, 65, 65, 0.700);
    --proctor-gray-600: rgba(65, 65, 65, 0.600);
    --proctor-gray-500: rgba(65, 65, 65, 0.500);
    --proctor-gray-400: rgba(65, 65, 65, 0.400);
    --proctor-gray-300: rgba(65, 65, 65, 0.300);
    --proctor-gray-200: rgba(65, 65, 65, 0.200);
    --proctor-gray-100: rgba(65, 65, 65, 0.100);
    --proctor-gray-050: rgba(65, 65, 65, 0.050);

   /* proctor white */
   --proctor-white: rgb(255, 255, 255);

   /* proctor brown */
   --proctor-brown-900: rgb(66, 9, 9);
   --proctor-brown-800: rgba(66, 9, 9, 0.800);
   --proctor-brown-700: rgba(66, 9, 9, 0.700);
   --proctor-brown-600: rgba(66, 9, 9, 0.600);
   --proctor-brown-500: rgba(66, 9, 9, 0.500);
   --proctor-brown-400: rgba(66, 9, 9, 0.400);
   --proctor-brown-300: rgba(66, 9, 9, 0.300);
   --proctor-brown-200: rgba(66, 9, 9, 0.200);
   --proctor-brown-100: rgba(66, 9, 9, 0.100);
   --proctor-brown-050: rgba(66, 9, 9, 0.050);
   
   /* proctor teal */
    --proctor-teal-900: rgb(12, 215, 215);
    --proctor-teal-800: rgba(12, 215, 215, 0.800);
    --proctor-teal-700: rgba(12, 215, 215, 0.700);
    --proctor-teal-600: rgba(12, 215, 215, 0.600);
    --proctor-teal-500: rgba(12, 215, 215, 0.500);
    --proctor-teal-400: rgba(12, 215, 215, 0.400);
    --proctor-teal-300: rgba(12, 215, 215, 0.300);
    --proctor-teal-200: rgba(12, 215, 215, 0.200);
    --proctor-teal-100: rgba(12, 215, 215, 0.100);
    --proctor-teal-050: rgba(12, 215, 215, 0.050);

    /* proctor cyan */
    --proctor-cyan-900: rgb(21, 253, 253);
    --proctor-cyan-800: rgba(21, 253, 253, 0.800);
    --proctor-cyan-700: rgba(21, 253, 253, 0.700);
    --proctor-cyan-600: rgba(21, 253, 253, 0.600);
    --proctor-cyan-500: rgba(21, 253, 253, 0.500);
    --proctor-cyan-400: rgba(21, 253, 253, 0.400);
    --proctor-cyan-300: rgba(21, 253, 253, 0.300);
    --proctor-cyan-200: rgba(21, 253, 253, 0.200);
    --proctor-cyan-100: rgba(21, 253, 253, 0.100);
    --proctor-cyan-050: rgba(21, 253, 253, 0.050);
 
    /* proctor purple */
    --proctor-purple-900: rgb(102, 12, 102);
    --proctor-purple-800: rgba(102, 12, 102, 0.800);
    --proctor-purple-700: rgba(102, 12, 102, 0.700);
    --proctor-purple-600: rgba(102, 12, 102, 0.600);
    --proctor-purple-500: rgba(102, 12, 102, 0.500);
    --proctor-purple-400: rgba(102, 12, 102, 0.400);
    --proctor-purple-300: rgba(102, 12, 102, 0.300);
    --proctor-purple-200: rgba(102, 12, 102, 0.200);
    --proctor-purple-100: rgba(102, 12, 102, 0.100);
    --proctor-purple-050: rgba(102, 12, 102, 0.050);

    /* proctor indigo */
    --proctor-indigo-900: rgb(89, 5, 149);
    --proctor-indigo-800: rgba(89, 5, 149, 0.800);
    --proctor-indigo-700: rgba(89, 5, 149, 0.700);
    --proctor-indigo-600: rgba(89, 5, 149, 0.600);
    --proctor-indigo-500: rgba(89, 5, 149, 0.500);
    --proctor-indigo-400: rgba(89, 5, 149, 0.400);
    --proctor-indigo-300: rgba(89, 5, 149, 0.300);
    --proctor-indigo-200: rgba(89, 5, 149, 0.200);
    --proctor-indigo-100: rgba(89, 5, 149, 0.100);
    --proctor-indigo-050: rgba(89, 5, 149, 0.050);
 
    /* proctor light blue */
    --proctor-lightblue-900: rgb(5, 184, 244);
    --proctor-lightblue-800: rgba(5, 184, 244, 0.800);
    --proctor-lightblue-700: rgba(5, 184, 244, 0.700);
    --proctor-lightblue-600: rgba(5, 184, 244, 0.600);
    --proctor-lightblue-500: rgba(5, 184, 244, 0.500);
    --proctor-lightblue-400: rgba(5, 184, 244, 0.400);
    --proctor-lightblue-300: rgba(5, 184, 244, 0.300);
    --proctor-lightblue-200: rgba(5, 184, 244, 0.200);
    --proctor-lightblue-100: rgba(5, 184, 244, 0.100);
    --proctor-lightblue-050: rgba(5, 184, 244, 0.050);
 
    /* proctor maroon */
    --proctor-maroon-900: rgb(141, 5, 5);
    --proctor-maroon-800: rgba(141, 5, 5, 0.800);
    --proctor-maroon-700: rgba(141, 5, 5, 0.700);
    --proctor-maroon-600: rgba(141, 5, 5, 0.600);
    --proctor-maroon-500: rgba(141, 5, 5, 0.500);
    --proctor-maroon-400: rgba(141, 5, 5, 0.400);
    --proctor-maroon-300: rgba(141, 5, 5, 0.300);
    --proctor-maroon-200: rgba(141, 5, 5, 0.200);
    --proctor-maroon-100: rgba(141, 5, 5, 0.100);
    --proctor-maroon-050: rgba(141, 5, 5, 0.050);
    
}

/*............ proctor red in action ............... */
/* in text */
.txt-red{
    color: var(--proctor-red-900);
}
.txt-red-900{
    color: var(--proctor-red-900);
}
.txt-red-800{
    color: var(--proctor-red-800);
}
.txt-red-700{
    color: var(--proctor-red-700);
}
.txt-red-600{
    color: var(--proctor-red-600);
}
.txt-red-500{
    color: var(--proctor-red-500);
}
.txt-red-400{
    color: var(--proctor-red-400);
}
.txt-red-300{
    color: var(--proctor-red-300);
}
.txt-red-200{
    color: var(--proctor-red-200);
}
.txt-red-100{
    color: var(--proctor-red-100);
}
.txt-red-50{
    color: var(--proctor-red-050);
}
/* in background */
.bg-red{
    background-color: var(--proctor-red-900);
}
.bg-red-900{
    background-color: var(--proctor-red-900);
}
.bg-red-800{
    background-color: var(--proctor-red-800);
}
.bg-red-700{
    background-color: var(--proctor-red-700);
}
.bg-red-600{
    background-color: var(--proctor-red-600);
}
.bg-red-500{
    background-color: var(--proctor-red-500);
}
.bg-red-400{
    background-color: var(--proctor-red-400);
}
.bg-red-300{
    background-color: var(--proctor-red-300);
}
.bg-red-200{
    background-color: var(--proctor-red-200);
}
.bg-red-100{
    background-color: var(--proctor-red-100);
}
.bg-red-50{
    background-color: var(--proctor-red-050);
}
/* ................................................ */



/*............ proctor black in action ............... */
/* in text */
.txt-black{
    color: var(--proctor-black-900);
}
.txt-red-black{
    color: var(--proctor-black-900);
}
.txt-black-800{
    color: var(--proctor-black-800);
}
.txt-black-700{
    color: var(--proctor-black-700);
}
.txt-black-600{
    color: var(--proctor-black-600);
}
.txt-black-500{
    color: var(--proctor-black-500);
}
.txt-black-400{
    color: var(--proctor-black-400);
}
.txt-black-300{
    color: var(--proctor-black-300);
}
.txt-black-200{
    color: var(--proctor-black-200);
}
.txt-black-100{
    color: var(--proctor-black-100);
}
.txt-black-50{
    color: var(--proctor-black-050);
}
/* in background */
.bg-black{
    background-color: var(--proctor-black-900);
}
.bg-black-900{
    background-color: var(--proctor-black-900);
}
.bg-black-800{
    background-color: var(--proctor-black-800);
}
.bg-black-700{
    background-color: var(--proctor-black-700);
}
.bg-black-600{
    background-color: var(--proctor-black-600);
}
.bg-black-500{
    background-color: var(--proctor-black-500);
}
.bg-black-400{
    background-color: var(--proctor-black-400);
}
.bg-black-300{
    background-color: var(--proctor-black-300);
}
.bg-black-200{
    background-color: var(--proctor-black-200);
}
.bg-black-100{
    background-color: var(--proctor-black-100);
}
.bg-black-50{
    background-color: var(--proctor-black-050);
}
/* ................................................ */


/*............ proctor yellow in action ............... */
/* in text */
.txt-yellow{
    color: var(--proctor-yellow-900);
}
.txt-yellow-900{
    color: var(--proctor-yellow-900);
}
.txt-yellow-800{
    color: var(--proctor-yellow-800);
}
.txt-yellow-700{
    color: var(--proctor-yellow-700);
}
.txt-yellow-600{
    color: var(--proctor-yellow-600);
}
.txt-yellow-500{
    color: var(--proctor-yellow-500);
}
.txt-yellow-400{
    color: var(--proctor-yellow-400);
}
.txt-yellow-300{
    color: var(--proctor-yellow-300);
}
.txt-yellow-200{
    color: var(--proctor-yellow-200);
}
.txt-yellow-100{
    color: var(--proctor-yellow-100);
}
.txt-yellow-50{
    color: var(--proctor-yellow-050);
}
/* in background */
.bg-yellow{
    background-color: var(--proctor-yellow-900);
}
.bg-yellow-900{
    background-color: var(--proctor-yellow-900);
}
.bg-yellow-800{
    background-color: var(--proctor-yellow-800);
}
.bg-yellow-700{
    background-color: var(--proctor-yellow-700);
}
.bg-yellow-600{
    background-color: var(--proctor-yellow-600);
}
.bg-yellow-500{
    background-color: var(--proctor-yellow-500);
}
.bg-yellow-400{
    background-color: var(--proctor-yellow-400);
}
.bg-yellow-300{
    background-color: var(--proctor-yellow-300);
}
.bg-yellow-200{
    background-color: var(--proctor-yellow-200);
}
.bg-yellow-100{
    background-color: var(--proctor-yellow-100);
}
.bg-yellow-50{
    background-color: var(--proctor-yellow-050);
}
/* ................................................ */


/*............ proctor blue in action ............... */
/* in text */
.txt-blue{
    color: var(--proctor-blue-900);
}
.txt-blue-900{
    color: var(--proctor-blue-900);
}
.txt-blue-800{
    color: var(--proctor-blue-800);
}
.txt-blue-700{
    color: var(--proctor-blue-700);
}
.txt-blue-600{
    color: var(--proctor-blue-600);
}
.txt-blue-500{
    color: var(--proctor-blue-500);
}
.txt-blue-400{
    color: var(--proctor-blue-400);
}
.txt-blue-300{
    color: var(--proctor-blue-300);
}
.txt-blue-200{
    color: var(--proctor-blue-200);
}
.txt-blue-100{
    color: var(--proctor-blue-100);
}
.txt-blue-50{
    color: var(--proctor-blue-050);
}
/* in background */
.bg-blue{
    background-color: var(--proctor-blue-900);
}
.bg-blue-900{
    background-color: var(--proctor-blue-900);
}
.bg-blue-800{
    background-color: var(--proctor-blue-800);
}
.bg-blue-700{
    background-color: var(--proctor-blue-700);
}
.bg-blue-600{
    background-color: var(--proctor-blue-600);
}
.bg-blue-500{
    background-color: var(--proctor-blue-500);
}
.bg-blue-400{
    background-color: var(--proctor-blue-400);
}
.bg-blue-300{
    background-color: var(--proctor-blue-300);
}
.bg-blue-200{
    background-color: var(--proctor-blue-200);
}
.bg-blue-100{
    background-color: var(--proctor-blue-100);
}
.bg-blue-50{
    background-color: var(--proctor-blue-050);
}
/* ................................................ */

/*............ proctor green in action ............... */
/* in text */
.txt-green{
    color: var(--proctor-green-900);
}
.txt-green-900{
    color: var(--proctor-green-900);
}
.txt-green-800{
    color: var(--proctor-green-800);
}
.txt-green-700{
    color: var(--proctor-green-700);
}
.txt-green-600{
    color: var(--proctor-green-600);
}
.txt-green-500{
    color: var(--proctor-green-500);
}
.txt-green-400{
    color: var(--proctor-green-400);
}
.txt-green-300{
    color: var(--proctor-green-300);
}
.txt-green-200{
    color: var(--proctor-green-200);
}
.txt-green-100{
    color: var(--proctor-green-100);
}
.txt-green-50{
    color: var(--proctor-green-050);
}
/* in background */
.bg-green{
    background-color: var(--proctor-green-900);
}
.bg-green-900{
    background-color: var(--proctor-green-900);
}
.bg-green-800{
    background-color: var(--proctor-green-800);
}
.bg-green-700{
    background-color: var(--proctor-green-700);
}
.bg-green-600{
    background-color: var(--proctor-green-600);
}
.bg-green-500{
    background-color: var(--proctor-green-500);
}
.bg-green-400{
    background-color: var(--proctor-green-400);
}
.bg-green-300{
    background-color: var(--proctor-green-300);
}
.bg-green-200{
    background-color: var(--proctor-green-200);
}
.bg-green-100{
    background-color: var(--proctor-green-100);
}
.bg-green-50{
    background-color: var(--proctor-green-050);
}
/* ................................................ */


/*............ proctor pink in action ............... */
/* in text */
.txt-pink{
    color: var(--proctor-pink-900);
}
.txt-pink-900{
    color: var(--proctor-pink-900);
}
.txt-pink-800{
    color: var(--proctor-pink-800);
}
.txt-pink-700{
    color: var(--proctor-pink-700);
}
.txt-pink-600{
    color: var(--proctor-pink-600);
}
.txt-pink-500{
    color: var(--proctor-pink-500);
}
.txt-pink-400{
    color: var(--proctor-pink-400);
}
.txt-pink-300{
    color: var(--proctor-pink-300);
}
.txt-pink-200{
    color: var(--proctor-pink-200);
}
.txt-pink-100{
    color: var(--proctor-pink-100);
}
.txt-pink-50{
    color: var(--proctor-pink-050);
}
/* in background */
.bg-pink{
    background-color: var(--proctor-pink-900);
}
.bg-pink-900{
    background-color: var(--proctor-pink-900);
}
.bg-pink-800{
    background-color: var(--proctor-pink-800);
}
.bg-pink-700{
    background-color: var(--proctor-pink-700);
}
.bg-pink-600{
    background-color: var(--proctor-pink-600);
}
.bg-pink-500{
    background-color: var(--proctor-pink-500);
}
.bg-pink-400{
    background-color: var(--proctor-pink-400);
}
.bg-pink-300{
    background-color: var(--proctor-pink-300);
}
.bg-pink-200{
    background-color: var(--proctor-pink-200);
}
.bg-pink-100{
    background-color: var(--proctor-pink-100);
}
.bg-pink-50{
    background-color: var(--proctor-pink-050);
}
/* ................................................ */


/*............ proctor orange in action ............... */
/* in text */
.txt-orange{
    color: var(--proctor-orange-900);
}
.txt-orange-900{
    color: var(--proctor-orange-900);
}
.txt-orange-800{
    color: var(--proctor-orange-800);
}
.txt-orange-700{
    color: var(--proctor-orange-700);
}
.txt-orange-600{
    color: var(--proctor-orange-600);
}
.txt-orange-500{
    color: var(--proctor-orange-500);
}
.txt-orange-400{
    color: var(--proctor-orange-400);
}
.txt-orange-300{
    color: var(--proctor-orange-300);
}
.txt-orange-200{
    color: var(--proctor-orange-200);
}
.txt-orange-100{
    color: var(--proctor-orange-100);
}
.txt-orange-50{
    color: var(--proctor-orange-050);
}
/* in background */
.bg-orange{
    background-color: var(--proctor-orange-900);
}
.bg-orange-900{
    background-color: var(--proctor-orange-900);
}
.bg-orange-800{
    background-color: var(--proctor-orange-800);
}
.bg-orange-700{
    background-color: var(--proctor-orange-700);
}
.bg-orange-600{
    background-color: var(--proctor-orange-600);
}
.bg-orange-500{
    background-color: var(--proctor-orange-500);
}
.bg-orange-400{
    background-color: var(--proctor-orange-400);
}
.bg-orange-300{
    background-color: var(--proctor-orange-300);
}
.bg-orange-200{
    background-color: var(--proctor-orange-200);
}
.bg-orange-100{
    background-color: var(--proctor-orange-100);
}
.bg-orange-50{
    background-color: var(--proctor-orange-050);
}
/* ................................................ */



/*............ proctor gray in action ............... */
/* in text */
.txt-gray{
    color: var(--proctor-gray-900);
}
.txt-gray-900{
    color: var(--proctor-gray-900);
}
.txt-gray-800{
    color: var(--proctor-gray-800);
}
.txt-gray-700{
    color: var(--proctor-gray-700);
}
.txt-gray-600{
    color: var(--proctor-gray-600);
}
.txt-gray-500{
    color: var(--proctor-gray-500);
}
.txt-gray-400{
    color: var(--proctor-gray-400);
}
.txt-gray-300{
    color: var(--proctor-gray-300);
}
.txt-gray-200{
    color: var(--proctor-gray-200);
}
.txt-gray-100{
    color: var(--proctor-gray-100);
}
.txt-gray-50{
    color: var(--proctor-gray-050);
}
/* in background */
.bg-gray{
    background-color: var(--proctor-gray-900);
}
.bg-gray-900{
    background-color: var(--proctor-gray-900);
}
.bg-gray-800{
    background-color: var(--proctor-gray-800);
}
.bg-gray-700{
    background-color: var(--proctor-gray-700);
}
.bg-gray-600{
    background-color: var(--proctor-gray-600);
}
.bg-gray-500{
    background-color: var(--proctor-gray-500);
}
.bg-gray-400{
    background-color: var(--proctor-gray-400);
}
.bg-gray-300{
    background-color: var(--proctor-gray-300);
}
.bg-gray-200{
    background-color: var(--proctor-gray-200);
}
.bg-gray-100{
    background-color: var(--proctor-gray-100);
}
.bg-gray-50{
    background-color: var(--proctor-gray-050);
}
/* ................................................ */


/*............ proctor brown in action ............... */
/* in text */
.txt-brown{
    color: var(--proctor-brown-900);
}
.txt-brown-900{
    color: var(--proctor-brown-900);
}
.txt-brown-800{
    color: var(--proctor-brown-800);
}
.txt-brown-700{
    color: var(--proctor-brown-700);
}
.txt-brown-600{
    color: var(--proctor-brown-600);
}
.txt-brown-500{
    color: var(--proctor-brown-500);
}
.txt-brown-400{
    color: var(--proctor-brown-400);
}
.txt-brown-300{
    color: var(--proctor-brown-300);
}
.txt-brown-200{
    color: var(--proctor-brown-200);
}
.txt-brown-100{
    color: var(--proctor-brown-100);
}
.txt-brown-50{
    color: var(--proctor-brown-050);
}
/* in background */
.bg-brown{
    background-color: var(--proctor-brown-900);
}
.bg-brown-900{
    background-color: var(--proctor-brown-900);
}
.bg-brown-800{
    background-color: var(--proctor-brown-800);
}
.bg-brown-700{
    background-color: var(--proctor-brown-700);
}
.bg-brown-600{
    background-color: var(--proctor-brown-600);
}
.bg-brown-500{
    background-color: var(--proctor-brown-500);
}
.bg-brown-400{
    background-color: var(--proctor-brown-400);
}
.bg-brown-300{
    background-color: var(--proctor-brown-300);
}
.bg-brown-200{
    background-color: var(--proctor-brown-200);
}
.bg-brown-100{
    background-color: var(--proctor-brown-100);
}
.bg-brown-50{
    background-color: var(--proctor-brown-050);
}
/* ................................................ */


/*................... proctor white................ */
.txt-white{
    color: var(--proctor-white);
}
.bg-white{
    background-color: var(--proctor-white);
}
/* ................................................ */


/*............ proctor teal in action ............... */
/* in text */
.txt-teal{
    color: var(--proctor-teal-900);
}
.txt-teal-900{
    color: var(--proctor-teal-900);
}
.txt-teal-800{
    color: var(--proctor-teal-800);
}
.txt-teal-700{
    color: var(--proctor-teal-700);
}
.txt-teal-600{
    color: var(--proctor-teal-600);
}
.txt-teal-500{
    color: var(--proctor-teal-500);
}
.txt-teal-400{
    color: var(--proctor-teal-400);
}
.txt-teal-300{
    color: var(--proctor-teal-300);
}
.txt-teal-200{
    color: var(--proctor-teal-200);
}
.txt-teal-100{
    color: var(--proctor-teal-100);
}
.txt-teal-50{
    color: var(--proctor-teal-050);
}
/* in background */
.bg-teal{
    background-color: var(--proctor-teal-900);
}
.bg-teal-900{
    background-color: var(--proctor-teal-900);
}
.bg-teal-800{
    background-color: var(--proctor-teal-800);
}
.bg-teal-700{
    background-color: var(--proctor-teal-700);
}
.bg-teal-600{
    background-color: var(--proctor-teal-600);
}
.bg-teal-500{
    background-color: var(--proctor-teal-500);
}
.bg-teal-400{
    background-color: var(--proctor-teal-400);
}
.bg-teal-300{
    background-color: var(--proctor-teal-300);
}
.bg-teal-200{
    background-color: var(--proctor-teal-200);
}
.bg-teal-100{
    background-color: var(--proctor-teal-100);
}
.bg-teal-50{
    background-color: var(--proctor-teal-050);
}
/* ................................................ */


/*............ proctor cyan in action ............... */
/* in text */
.txt-cyan{
    color: var(--proctor-cyan-900);
}
.txt-cyan-900{
    color: var(--proctor-cyan-900);
}
.txt-cyan-800{
    color: var(--proctor-cyan-800);
}
.txt-cyan-700{
    color: var(--proctor-cyan-700);
}
.txt-cyan-600{
    color: var(--proctor-cyan-600);
}
.txt-cyan-500{
    color: var(--proctor-cyan-500);
}
.txt-cyan-400{
    color: var(--proctor-cyan-400);
}
.txt-cyan-300{
    color: var(--proctor-cyan-300);
}
.txt-cyan-200{
    color: var(--proctor-cyan-200);
}
.txt-cyan-100{
    color: var(--proctor-cyan-100);
}
.txt-cyan-50{
    color: var(--proctor-cyan-050);
}
/* in background */
.bg-cyan{
    background-color: var(--proctor-cyan-900);
}
.bg-cyan-900{
    background-color: var(--proctor-cyan-900);
}
.bg-cyan-800{
    background-color: var(--proctor-cyan-800);
}
.bg-cyan-700{
    background-color: var(--proctor-cyan-700);
}
.bg-cyan-600{
    background-color: var(--proctor-cyan-600);
}
.bg-cyan-500{
    background-color: var(--proctor-cyan-500);
}
.bg-cyan-400{
    background-color: var(--proctor-cyan-400);
}
.bg-cyan-300{
    background-color: var(--proctor-cyan-300);
}
.bg-cyan-200{
    background-color: var(--proctor-cyan-200);
}
.bg-cyan-100{
    background-color: var(--proctor-cyan-100);
}
.bg-cyan-50{
    background-color: var(--proctor-cyan-050);
}
/* ................................................ */


/*............ proctor purple in action ............... */
/* in text */
.txt-purple{
    color: var(--proctor-purple-900);
}
.txt-purple-900{
    color: var(--proctor-purple-900);
}
.txt-purple-800{
    color: var(--proctor-purple-800);
}
.txt-purple-700{
    color: var(--proctor-purple-700);
}
.txt-purple-600{
    color: var(--proctor-purple-600);
}
.txt-purple-500{
    color: var(--proctor-purple-500);
}
.txt-purple-400{
    color: var(--proctor-purple-400);
}
.txt-purple-300{
    color: var(--proctor-purple-300);
}
.txt-purple-200{
    color: var(--proctor-purple-200);
}
.txt-purple-100{
    color: var(--proctor-purple-100);
}
.txt-purple-50{
    color: var(--proctor-purple-050);
}
/* in background */
.bg-purple{
    background-color: var(--proctor-purple-900);
}
.bg-purple-900{
    background-color: var(--proctor-purple-900);
}
.bg-purple-800{
    background-color: var(--proctor-purple-800);
}
.bg-purple-700{
    background-color: var(--proctor-purple-700);
}
.bg-purple-600{
    background-color: var(--proctor-purple-600);
}
.bg-purple-500{
    background-color: var(--proctor-purple-500);
}
.bg-purple-400{
    background-color: var(--proctor-purple-400);
}
.bg-purple-300{
    background-color: var(--proctor-purple-300);
}
.bg-purple-200{
    background-color: var(--proctor-purple-200);
}
.bg-purple-100{
    background-color: var(--proctor-purple-100);
}
.bg-purple-50{
    background-color: var(--proctor-pruple-050);
}
/* ................................................ */


/*............ proctor indigo in action ............... */
/* in text */
.txt-indigo{
    color: var(--proctor-indigo-900);
}
.txt-indigo-900{
    color: var(--proctor-indigo-900);
}
.txt-indigo-800{
    color: var(--proctor-indigo-800);
}
.txt-indigo-700{
    color: var(--proctor-indigo-700);
}
.txt-indigo-600{
    color: var(--proctor-indigo-600);
}
.txt-indigo-500{
    color: var(--proctor-indigo-500);
}
.txt-indigo-400{
    color: var(--proctor-indigo-400);
}
.txt-indigo-300{
    color: var(--proctor-indigo-300);
}
.txt-indigo-200{
    color: var(--proctor-indigo-200);
}
.txt-indigo-100{
    color: var(--proctor-indigo-100);
}
.txt-indigo-50{
    color: var(--proctor-indigo-050);
}
/* in background */
.bg-indigo{
    background-color: var(--proctor-indigo-900);
}
.bg-indigo-900{
    background-color: var(--proctor-indigo-900);
}
.bg-indigo-800{
    background-color: var(--proctor-indigo-800);
}
.bg-indigo-700{
    background-color: var(--proctor-indigo-700);
}
.bg-indigo-600{
    background-color: var(--proctor-indigo-600);
}
.bg-indigo-500{
    background-color: var(--proctor-indigo-500);
}
.bg-indigo-400{
    background-color: var(--proctor-indigo-400);
}
.bg-indigo-300{
    background-color: var(--proctor-indigo-300);
}
.bg-indigo-200{
    background-color: var(--proctor-indigo-200);
}
.bg-indigo-100{
    background-color: var(--proctor-indigo-100);
}
.bg-indigo-50{
    background-color: var(--proctor-indigo-050);
}
/* ................................................ */

/*............ proctor lightblue in action ............... */
/* in text */
.txt-lightblue{
    color: var(--proctor-lightblue-900);
}
.txt-lightblue-900{
    color: var(--proctor-lightblue-900);
}
.txt-lightblue-800{
    color: var(--proctor-lightblue-800);
}
.txt-lightblue-700{
    color: var(--proctor-lightblue-700);
}
.txt-lightblue-600{
    color: var(--proctor-lightblue-600);
}
.txt-lightblue-500{
    color: var(--proctor-lightblue-500);
}
.txt-lightblue-400{
    color: var(--proctor-lightblue-400);
}
.txt-indigo-300{
    color: var(--proctor-indigo-300);
}
.txt-lightblue-200{
    color: var(--proctor-lightblue-200);
}
.txt-lightblue-100{
    color: var(--proctor-lightblue-100);
}
.txt-lightblue-50{
    color: var(--proctor-lightblue-050);
}
/* in background */
.bg-lightblue{
    background-color: var(--proctor-lightblue-900);
}
.bg-lightblue-900{
    background-color: var(--proctor-lightblue-900);
}
.bg-lightblue-800{
    background-color: var(--proctor-lightblue-800);
}
.bg-lightblue-700{
    background-color: var(--proctor-lightblue-700);
}
.bg-lightblue-600{
    background-color: var(--proctor-lightblue-600);
}
.bg-lightblue-500{
    background-color: var(--proctor-lightblue-500);
}
.bg-lightblue-400{
    background-color: var(--proctor-lightblue-400);
}
.bg-lightblue-300{
    background-color: var(--proctor-lightblue-300);
}
.bg-lightblue-200{
    background-color: var(--proctor-lightblue-200);
}
.bg-lightblue-100{
    background-color: var(--proctor-lightblue-100);
}
.bg-lightblue-50{
    background-color: var(--proctor-lightblue-050);
}
/* ................................................ */


/*............ proctor maroon in action ............... */
/* in text */
.txt-maroon{
    color: var(--proctor-maroon-900);
}
.txt-maroon-900{
    color: var(--proctor-maroon-900);
}
.txt-maroon-800{
    color: var(--proctor-maroon-800);
}
.txt-maroon-700{
    color: var(--proctor-maroon-700);
}
.txt-maroon-600{
    color: var(--proctor-maroon-600);
}
.txt-maroon-500{
    color: var(--proctor-maroon-500);
}
.txt-maroon-400{
    color: var(--proctor-maroon-400);
}
.txt-maroon-300{
    color: var(--proctor-maroon-300);
}
.txt-maroon-200{
    color: var(--proctor-maroon-200);
}
.txt-maroon-100{
    color: var(--proctor-maroon-100);
}
.txt-maroon-50{
    color: var(--proctor-maroon-050);
}
/* in background */
.bg-maroon{
    background-color: var(--proctor-maroon-900);
}
.bg-maroon-900{
    background-color: var(--proctor-maroon-900);
}
.bg-maroon-800{
    background-color: var(--proctor-maroon-800);
}
.bg-maroon-700{
    background-color: var(--proctor-maroon-700);
}
.bg-maroon-600{
    background-color: var(--proctor-maroon-600);
}
.bg-maroon-500{
    background-color: var(--proctor-maroon-500);
}
.bg-maroon-400{
    background-color: var(--proctor-maroon-400);
}
.bg-maroon-300{
    background-color: var(--proctor-maroon-300);
}
.bg-maroon-200{
    background-color: var(--proctor-maroon-200);
}
.bg-maroon-100{
    background-color: var(--proctor-maroon-100);
}
.bg-maroon-50{
    background-color: var(--proctor-maroon4-050);
}
/* ................................................ */

